/* VARIABLES */
:root {
  /* Colors */
  --ms_primary-color: #1abc9c;
  --ms_secondary-color: #2c3e50;
  --ms_secondary-color-light: #3a546d;
}

/* COMMON */
html {
    font-size: 100%;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* Layout */
.ms_small-container {
    width: 60%;
    margin: 0 auto;
}

/* Form elements */
.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--ms_primary-color);
}

textarea.form-control {
    resize: none;
    min-height: 200px;
}

/* Buttons */
.btn.ms_btn-primary {
    background-color: var(--ms_primary-color);
    color: white;
}

.btn.ms_btn-primary:hover {
    background-color: var(--ms_primary-color);
    filter: brightness(.6);
}

/* COLORS */
.ms_bg-primary {
    background-color: var(--ms_primary-color);
}

.ms_bg-secondary {
    background-color: var(--ms_secondary-color);
}

.ms_bg-secondary-light {
    background-color: var(--ms_secondary-color-light);
}

/* HEADER */
header.ms_header {
    color: white;
    background-color: var(--ms_secondary-color);
}

.ms_header .navbar-brand {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.ms_header .nav-link,
.ms_header .nav-link.active {
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
}

.ms_header .nav-link:hover,
.ms_header .nav-link.active:hover {
    color: var(--ms_primary-color);
}

.ms_menu-list li {
    margin: 0 .5rem;
}

/* MAIN */
.ms_section {
    padding: 1.5rem 0;
}

/* Star element */
.ms_star i {
    font-size: 2rem;
    vertical-align: middle;
}

.ms_star::before,
.ms_star::after {
    content: "";
    display: inline-block;
    width: 10%;
    height: 4px;
    background-color: black;
    vertical-align: middle;
}

.ms_bg-primary .ms_star i {
    color: white;
}

.ms_bg-primary .ms_star::after,
.ms_bg-primary .ms_star::before {
    background-color: white;
}

/* Jumbotron */
.ms_avatar {
    width: 200px;
}

/* Portfolio section */
.ms_card {
   
}

/* FOOTER */
.ms_footer-top {
    padding: 1.5rem 0 2rem;
}

.ms_footer-bottom {
    padding: 1.5rem 0;
}